@if (Model.HasValue("sidebarText") || Model.Level == 1 || Model.Parent.Children.Count() > 0)
          {
            <h4 class="h4-bg4">@{ Model._sectionTitle ?? "In this section"; }</h4>
          }
          <ul class="list2">
            @{
              var homeNode = (Model.Level > 2) ? Model.Parent : Model;
              if (homeNode.Children.Count() == 0)
              {
                <li class="current"><a href="@Model.Url">@Model.Name</a></li>
              }
              else
              {
                foreach (var page in homeNode.Children.Where("Visible"))
                {
                  if (page.Id == Model.Id)
                  {
                    <li class="current"><a href="@page.Url">@page.Name</a></li>
                  }
                  else
                  {
                    <li><a href="@page.Url">@page.Name</a></li>
                  }
                }
              }
            }
          </ul>
  
          @if (@Model.HasValue("sidebarText"))
          {
            <p class="list2">@Model.SidebarText</p>
          }