@if (Model.HasValue("sidebarText") || Model.Level == 1 || Model.Parent.Children.Count() > 0)
          {
            <h4 class="h4-bg4">@{ var heading = Model._sectionTitle ?? "In this section"; } @heading</h4>
          }
  
          @if (Model.Level == 1 || Model.Parent.Children.Count() > 0)
          {
            <ul class="list2">
                @{
                    var homeNode = (Model.Level > 2) ? Model.Parent : Model;
                    if (homeNode.Children.Count() == 0)
                    {
                      <li class="current">@Model.Name</li>
                    }
                    else
                    {
                      foreach (var childNode in homeNode.Children.Where("Visible"))
                      {
                        if (childNode.Id == Model.Id)
                        {
                          <li class="current">@childNode.Name</li>
                        }
                        else
                        {
                          <li><a href="@childNode.Url">@childNode.Name</a></li>
                        }
                      }
                    }
                }
            </ul>
          }
  
          @if (@Model.HasValue("sidebarText"))
          {
            <p class="list2">@Model.SidebarText</p>
          }